---

---

<h1>Starting with js</h1>

<h2>Counter with previous counts </h2>
<p id="count">0</p>
<button id="btn-increase">Increase</button>
<button id="save-count">Save</button>
<p id="saved-value">Previous counts: </p>
<script src="../../components/javascript.js"></script>
