---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="password generator">
  <div class="flex flex-col items-center justify-center h-screen gap-5">
    <h1>Password Generator</h1>
    <div class="relative flex items-center border-2 border-white p-4 w-1/2">
      <span id="passwordDisplay" class="text-center flex-1">password</span>
      <button id="copy-btn" class="absolute right-0 top-0">copy</button>
    </div>
    <form id="passwordGeneratorForm" class="flex flex-col items-center gap-5">
      <label for="passwordLengthInNumbers">Password Length</label>
      <div class="flex gap-5">
        <input type="range" min="1" max="50" value="10" id="passwordLengthInRange" />
        <input
          type="number"
          min="1"
          max="50"
          value="10"
          id="passwordLengthInNumbers"
          class="bg-transparent border-2 border-white w-14 p-1"
        />
      </div>
      <label
        >Include Uppercase
        <input type="checkbox" id="includeUppercase" />
      </label>
      <label
        >Include Numbers
        <input type="checkbox" id="includeNumbers" />
      </label>
      <label
        >Include Symbols
        <input type="checkbox" id="includeSymbols" />
      </label>
      <button type="submit">Generate Password</button>
    </form>
  </div>
</Layout>

<script src="../../components/js/passwordGenerator.js"></script>
